#contact {
  .text-box #address {
    padding: 25px 40px;

    p {
      font-size: $address-p-font-size;
      padding: 20px 0 10px 0;
    }

    p#phone, p#email {
      font-size: $phone-font-size;
      font-weight: bold;
    }

    h3 {
      font-size: $address-h-font-size;
      font-weight: bold;
    }
  }

  form {
    padding: $form-pad;
  }

  .form-control, button {
    font-size: $form-place-font-size;
    border-radius: 0;
    background-color: $white;
    color: $light-black;
    &::-webkit-input-placeholder {
      color: $form-placeholer;
    }
    &:-moz-placeholder {
      color: $form-placeholer;
    }
    &::-moz-placeholder {
      color: $form-placeholer;
    }
    &:-ms-input-placeholder {
      color: $form-placeholer;
    }
    &:focus, &:hover {
      border-color: $form-placeholer;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(0, 0, 0, 0.2);
    }
  }
  input.form-control, select.form-control {
    height: 60px;
  }

  select.form-control {
    option:nth-child(1) {
      color: $form-placeholer;
    }
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 0;
  }
}
