footer {
  font-size: 0.8em;

  .navbar-default {
    .navbar-text {
      color: $white;
      margin-left: 0;
      margin-right: 0;
    }
    .navbar-link {
      color: $navlinks-color;

      &.author {
        color: $white;
        text-decoration: underline;
        &:hover {
        color: $light-gray;
        }
      }

      &:hover {
        color: $navlinks-color;
      }
    }
  }

  .navbar {
    margin: 0;
  }
}
