
#specials {
  .desc {
    color: $light-black;
  }

  .slider {
      color: $white;
      text-align: center;
  }

  .slide {
    background-color: $nav-bg;
    padding: $slide-pad;
    height: $slide-height;
    position: relative;
    width: 100%;
    color: $navlinks-color;
  }

  .slide .dish {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;

    img {
      position: relative;
      width: 100%;
      transform: translateY(-50%);
      border: 3px solid $navlinks-color;
      border-radius: 3px;
    }
  }

  .slide p {
    font-size: $spec-dish-font-size;
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
  }

  .lSSlideOuter .lSPager.lSpg {
  li.active a, li:hover a {
      background-color: $nav-bg;
    }
  }
}
