//------------------ WELCOME SECTION--------------------------
#welcome {
  //padding-top: $welcome-pad;
  padding-bottom: 50px;
  text-align: inherit;
}

#welcome h1 {
  font-size: $welcome-font-size;
  position: relative;
  text-shadow: 1px 1px 7px $body-bg;
}

.container .jumbotron {
  padding: 0;
  height: $jumbo-height;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: $nav-shadow;
  margin-bottom: 10px;
}

.panorama {
  .pv-inner {
    height: $jumbo-height;

    .pv-overlay {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  img {
    height: $jumbo-height;
  }
}
