//------------------ WELCOME SECTION--------------------------
#welcome {
  padding-top: $welcome-pad;
  padding-bottom: 50px;
  text-align: inherit;
}

#welcome h1 {
  font-size: $welcome-font-size;
  position: relative;
  color: rgb(38, 38, 38);
}

.container .jumbotron {
  padding: 0;
  height: $jumbo-height;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: $nav-shadow;
  margin-bottom: 10px;
}

.panorama {
  .pv-inner {
    height: $jumbo-height;
  }

  img {
    height: $jumbo-height;
  }
}
