<div id="about" class="section row" data-aos="flip-left">
  <h1 class="col-xs-12">About Us</h1>
  <% if @pages["about"] %>
    <div class="col-xs-12">
      <div class="text-box">
        <p>
          <%= @pages["about"].text %>
        </p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="images row">
        <% @pages["about"].images.each do |image| %>
          <div class="image col-xs-12 col-sm-4"><%= image_tag image, class: "img-responsive" %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
