<footer>
  <nav class="navbar navbar-default">
    <div class="container">
      <p class="navbar-text">
        <a href="#" class="navbar-link">KRADOS</a> &copy; 2016. All Rights Reserved
      </p>
    </div>
  </nav>
</footer>
