<footer>
  <nav class="navbar navbar-default" id="footer-nav">
    <div class="container">
      <p class="navbar-text">
        <a href="/" class="navbar-link">KRADOS</a> &copy; 2016. All Rights Reserved
      </p>
      <!--
      <p class="navbar-text pull-right">
        <i class="fa fa-code"></i> by <a target="_blank" href="https://www.linkedin.com/in/muhammadkh4n" class="navbar-link author">muhammadkh4n</a>
      </p>
      -->
    </div>
  </nav>
</footer>
