<header>
  <nav class="navbar navbar-default navbar-fixed-top" id="main-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" id="welcome-a"><%= image_tag 'logo.png' %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse text-center" id="main-nav">
        <ul class="nav navbar-nav">
          <li class="dropdown" id="about-a">
            <a href="#about" class="dropdown-toggle main-link" data-toggle="dropdown" role="button" data-target="#"><i id="about-icon"></i> About Us <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id="mission-a"><a href="#mission" data-target="#" role="button">Mission Statement</a></li>
            </ul>
          </li>
          <li id="specials-a"><a href="#specials" class="main-link"><i id="specials-icon"></i> Specials</a></li>
          <li class="dropdown" id="menu-a">
            <a role="button" data-toggle="dropdown" href="#menu" class="dropdown-toggle main-link" data-target="#">
                <i id="menu-icon"></i> Menu <span class="caret"></span>
            </a>
        		<ul class="dropdown-menu" role="menu" id="menu-tabs">
              <% @branches.each_with_index do |(branch, cat), i| %>
                <li><a href="#<%= hyphenate(branch) %>" data-toggle="tab"><%= branch %></a></li>
                <% if i < @branches.length - 1 %>
                <li class="divider"></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li id="contact-a"><a href="#contact" class="main-link"><i id="contact-icon"></i> Contact Us</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
