<div id="mission" class="row section">
  <h1 class="col-xs-12" data-aos="slide-right">Mission Statement</h1>
  <div class="col-xs-12">
    <div class="text-box" data-aos="slide-left">
      <div class="row">
        <p class="col-xs-12 col-md-6">
          <%= @mission.text %>
        </p>
        <div class="col-xs-12 col-md-6">
          <div class="main-image">
            <%= image_tag @mission.images.first, class: "" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
