<div id="mission" class="row section">
  <h1 class="col-xs-12" data-aos="zoom-in-down">Gallery</h1>
  <% if @pages["gallery"] %>
    <div class="col-xs-12">
      <div class="row">
        <% @pages["gallery"].images.each_with_index do |image, i| %>
          <div class="col-xs-6 col-md-3 image" data-aos="zoom-in" data-aos-delay="<%= ((i+1) * 50) %>">
            <%= image_tag(image, class: "img-responsive") %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="modal fade" tabindex="-1" role="dialog" id="image-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div id="image-html">
              <!-- modal image will go here -->
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
