<div id="mission" class="row section">
  <h1 class="col-xs-12" data-aos="slide-right">Mission Statement</h1>
  <div class="col-xs-12">
    <div class="text-box" data-aos="slide-left">
      <div class="row">
        <div class="col-xs-12 col-md-6">
            <p>
              <%= @mission.text %>
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="main-image image">
            <%= image_tag @mission.images.first, class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <% @mission.images.each_with_index do |image, i| %>
        <% if i > 0 %>
          <div class="col-xs-6 col-md-3 image">
            <%= image_tag(image, class: "img-responsive") %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="image-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div id="image-html">
              <!-- modal image will go here -->
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
