<div class="section row" id="specials">
  <h1 class="col-xs-12" data-aos="zoom-in-down">Specials</h1>
  <p class="col-xs-12 desc" data-aos="zoom-in-down">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima libero nam, dignissimos reprehenderit vel atque ea. Necessitatibus neque a aliquam eos soluta quam, quisquam molestiae fuga dolor quo, ad eveniet.
  </p>
  <div class="slider col-xs-12">
    <ul id="specials-slider">
      <% @specials.each_with_index do |special, i| %>
        <li class="slide" data-aos="fade-right" data-aos-delay="<%= ((i+1) * 100) %>">
          <h3><%= special.name %></h3>
          <div class="dish">
            <%= image_tag special.image, class: "img-responsive" %>
          </div>
          <p>
            <%= special.description %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
