<div class="" id="welcome">
  <h1>Krados</h1>
  <div class="jumbotron">
    <div id="krados-front" class="panorama">
      <%= image_tag 'krados.jpg' %>
    </div>
  </div>
  <h1 class="pull-right">Family Dining</h1>
  <div class="clearfix"></div>
  <div class="jumbotron">
    <div id="krados-dining" class="panorama">
      <%= image_tag 'family.jpg' %>
    </div>
  </div>
</div>
