<div class="" id="welcome">
  <% if notice %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>
  <h1 class="">Krados</h1>
  <div class="jumbotron" data-aos="fade-right">
    <div id="krados-front" class="panorama">
      <%= image_tag 'krados.jpg' %>
    </div>
  </div>
  <h1 class="pull-right">Family Dining</h1>
  <div class="clearfix"></div>
  <div class="jumbotron" data-aos="fade-left" data-aos-delay="250">
    <div id="krados-dining" class="panorama">
      <%= image_tag 'family.jpg' %>
    </div>
  </div>
</div>
