// General colors
$white: #fff;
$light-gray: #ddd;
$light-black: #373737;


// Theme Colors
$nav-bg: #730009;
$body-bg: #f8e7cf;
$textbox-bg: #fbf1e2;
$navlinks-color: #e5aa51;
$darker-bg: darken($nav-bg, 5);


// welcome
$jumbo-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);

// contact
$form-placeholer: #bababa;


// nav
$nav-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
