// NAVBAR
$nav-margin-top: 50px;
$logo-width: 60px;

$submenu-pad: 5px;
$nav-item-pad: 0 20px;


// welcome
$jumbo-height: 340px;
$welcome-pad: 150px;

// base
$section-pad: 50px;


// special
$slide-pad: 15px 20px;
$slide-height: 600px;

// text-box
$textbox-pad: 25px;


// about
$about-images-pad: 30px 0 0 0;


// section
$heading-pad: 30px;


// menu
$nav-tab-pad: 50px;
$menu-desc-pad: 2px 0 10px 0;
$menu-cat-pad: 25px;
$span-pad: 20px;

$nav-tab-width: 200px;

// contact
$form-pad: 25px;
