// Place all the styles related to the admin_panel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$admin-border: 1px solid #888;

#admin-bar {
  background-color: #464646;
  color: white;
  padding: 5px;
  text-align: center;

  .admin-info {
    display: inline-block;
    vertical-align: -7px;
  }
}

h1.page-header {
  background-color: #e6e6e6;
  padding: 10px 20px;
  border: $admin-border;
  margin-bottom: 0;
}

.admin-content {
  border: $admin-border;
}

#login-form {
  width: 500px;
  margin-top: 20%;
  background-color: #e3e3e3;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  box-shadow: 0 1px 5px #595959;

  h1 {
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
  }
}
