// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//------------VARIABLES---------------------------
@import "includes/variables";

//------------------------------------------------
//            BASE STYLES
//------------------------------------------------
html, body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;

  h1, .nav > li > a {
    font-variant: small-caps;
  }
}

.home-page {
  background-color: $body-bg;
  color: $light-black;

  img#bg1, img#bg2 {
    position: fixed;
    opacity: 0.5;
  }

  #bg1 {
    width: 800px;
    top: 0%;
    left: -400px;
  }

  #bg2 {
    width: 500px;
    right: -100px;
    top: 60%;
  }
}

.section {
  padding-bottom: $section-pad;
  text-align: center;

  h1 {
    padding-bottom: $heading-pad;
  }
}

.text-box {
  background-color: $textbox-bg;
  font-size: $text-box-font-size;
  margin-bottom: 20px;
  position: relative;
  p {
    padding: $textbox-pad;
  }
}


// -----------------------------------------------
//             HEADER
//------------------------------------------------
@import "includes/header";


//-------------------------------------------------
//            WELCOME
//-------------------------------------------------
@import "includes/welcome";


//-------------------------------------------------
//           SPECIALS
//-------------------------------------------------
@import "includes/specials";

//-------------------------------------------------
//           ABOUT
//-------------------------------------------------
@import "includes/about";

//-------------------------------------------------
//           MISSION
//-------------------------------------------------
@import "includes/mission";

//-------------------------------------------------
//          MENU
//-------------------------------------------------
@import "includes/menu";

//-------------------------------------------------
//          CONTACT
//-------------------------------------------------
@import "includes/contact";


//-------------------------------------------------
//          FOOTER
//-------------------------------------------------
@import "includes/footer";

//-------------------------------------------------
//          Slider
//-------------------------------------------------
@import "slider";


//------------------------------------------------
//            VIEWPORTS
//------------------------------------------------

// md and large
@media (min-width: 992px) {
  nav.navbar .navbar-nav li a.main-link {
    padding-top: 20px;
    padding-bottom: 20px;

    i {
      top: 14px;
    }
  }
}

// small devices
@media (min-width: 768px) and (max-width: 991px) {
  nav.navbar {
    font-size: 1.2em;
    margin-top: 30px;

    .navbar-nav li {
      padding: 0 10px;

      a.main-link i {
        width: 20px;
        height: 20px;
        left: -10px;
        top: 14px;

        &#specials-icon {
          top: 13px;
        }
      }
    }

    a.navbar-brand {
      top: -40px;
      img {
        width: 110px;
      }
    }
  }

  #welcome {
    padding-top: 110px;
  }
}

// XS Devices
@media (max-width: 768px) {

  //------------------------
  //      BASE
  //------------------------
  .section {
    padding-bottom: 20px;
  }

  .home-page {
    #bg1 {
      width: 550px;
      left: -300px;
    }

    #bg2 {
      width: 400px;
      right: -150px;
    }
  }

  //-----------------------
  //     NAV
  //-----------------------
  #main-nav {
    margin: 0;
  }

  nav.navbar {
    margin-top: 20px;
  }

  nav.navbar.navbar-default {

    .navbar-toggle {
      border: 0;
      .icon-bar {
        background-color: $navlinks-color;
      }

      &:hover, &:focus {
        background-color: $darker-bg;
      }
    }

    a.navbar-brand {
      top: -30px;
      img {
        width: 80px;
      }
    }


    .navbar-nav li {
      padding: 6px 0;
      &.divider {
        padding: 0;
      }
    }

    .navbar-nav li a.main-link {
      i {
        top: 5px;
        left: 0
      }
      i#contact-icon {
        width: 30px;
        left: 0;
      }
      i#specials-icon {
        top: 5px;
        left: 0
      }
      i#menu-icon {
        left: 0
      }
    }

    .navbar-nav .open .dropdown-menu {
      text-align: center;
      li a {
        color: $white;
        font-size: 1.2em;
        padding: 5px 0;
      }

      li {
        background-color: $darker-bg;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
      }
    }

  }

  //--------------------------
  //         WELCOME
  //--------------------------
  #welcome {
    padding-top: 70px;
  }

  //--------------------------
  //   ABOUT
  //--------------------------
  #about .image img {
    width: 100%;
  }

  // FOOTER
  footer {
    text-align: center;
    .navbar-text {
      float: none !important;
    }
  }
}


// xxs devices
@media (max-width: 436px) {
  #menu .nav.nav-tabs li {
    width: 150px;
  }
}
